.nav-menu {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
}

.list-links {
  text-align: right;
  display: flex;
  gap: 12px;
  justify-content: flex-end;
  flex: 1;
}