body {
  /* background: #000; */
  color: #f2f2f2;
  font-size: 1em;
}

:root {
  --background-theme: #ad4432;
  --background-theme--element: #202020;
  --radius: 12px;
  --padding: 12px;
  --padding-sm: calc(var(--padding) / 2);
  --padding-xl: calc(var(--padding) * 2);
  --field-height: 44px;
  
  --main-gap: 12px;

  --success: #4fae3f;
  --pending: #e5da50;
  --error: #ad4432;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: inherit;
  list-style: none;
  text-decoration: none;
  border-bottom: 0;
  background-color: inherit;
  border: 0;
  outline: 0;
  font-family: inherit, sans-serif;
}

.container {
  max-width: 1366px;
  margin: auto;
  padding: 0 12px;
}

.main {
  flex: 1;
  padding: 20px 12px;
  height: 100vh;
}

.content-body {
  display: flex;
  align-items: flex-start;
  gap: 20px;
}

.small {
  font-size: 12px;
} 