.box {
  display: flex;
  align-items: flex-start;
  gap: var(--main-gap);
  max-height: 260px;
}

.column {
  flex-direction: column;
}

.grid-dashboard {
  display: flex;
  gap: var(--main-gap);
  flex-direction: column;
}

.section-dashboard {
  display: flex;
  gap: var(--main-gap);
  flex-wrap: wrap;

  .box {
   min-width: 250px; 
   flex: 1;

   &:last-child {
    flex: 3;
   }
  }
}

.positions-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--main-gap);
}

.leads{
  display: inline;
}