.sidebar {
  width: 270px;
  height: 100vh;
  display: flex;
  flex-direction: column;
box-shadow: 0 0 20px black;
}

.nav-menu {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 20px 0;
}

.list-links {
  display: flex;
  gap: 2em;
  justify-content: flex-start;
  flex-direction: column;
  flex: 1;

  a {
    display: flex;
    align-items: flex-end;
    gap: 6px;
  }
}

.avatar {
}