.box {
  background: var(--background-theme--element);
  border-radius: var(--radius);
  padding: var(--padding-xl);
}

.divider {
  width: 5px;
  height: 100%;
  border-radius: var(--radius);
}

.divider {
  background-color: rgb(164 147 255);
}

// Box status 